<div class="wrapper">
  <div class="container">
    <div class="row row-hcc">
      <div class="row-label row-label-hcc">HCC/ICD</div>
      <div class="pill pill-pending-addressed-percent">
        <span>9999</span>
      </div>
      <div class="pill pill-invalid">
        <span>9999</span>
      </div>
      <div class="pill pill-needed">
        <span>9999</span>
      </div>
      <div class="pill pill-addressed">
        <span>9999</span>
      </div>
      <div class="pill pill-pending-addressed-percent">
        <span>9999</span>
      </div>
    </div>
    <div class="row row-foc">
      <div class="row-label row-label-foc">FOC</div>
      <div class="pill pill-pending-addressed-percent">
        <span>9999</span>
      </div>
      <div class="pill pill-needed">
        <span>9999</span>
      </div>
      <div class="pill pill-addressed">
        <span>9999</span>
      </div>
    </div>
    <div class="row row-quality">
      <div class="row-label row-label-quality">Quality</div>
      <div class="pill pill-pending-addressed-percent">
        <span>9999</span>
      </div>
      <div class="pill pill-invalid">
        <span>9999</span>
      </div>
      <div class="pill pill-needed">
        <span>9999</span>
      </div>
      <div class="pill pill-addressed">
        <span>9999</span>
      </div>
    </div>
  </div>
</div>
